<form class="form mat-elevation-z8">
    <h1>Atualizar Vendedor(a)</h1>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="vendedora.nome" [formControl]="nome" required="nome" name="nome" maxLength="100" matInput placeholder="Ex. Linus Torvalds">
        <mat-error *ngIf="nome.invalid">{{errorValidName()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>CPF</mat-label>
        <input [(ngModel)]="vendedora.cpf" [formControl]="cpf" required="cpf" name="cpf" maxLength="15" matInput placeholder="Ex. 000.000.000-00">
        <mat-error *ngIf="cpf.invalid">{{errorValidCPF()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Telefone</mat-label>
        <input [(ngModel)]="vendedora.telefone" [formControl]="telefone" required="telefone" name="telefone" maxLength="18" matInput placeholder="Ex. (00) 900000-0000">
        <mat-error *ngIf="telefone.invalid">{{errorValidTelefone()}}</mat-error>
    </mat-form-field>
    <button class="mat-elevation-z8" (click)="update()" [disabled]="errorValidName() || errorValidCPF() || errorValidTelefone()" mat-stroked-button color="accent">Atualizar</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">Cancelar</button>
</form>