.create {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.create h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.create button {
    width: 100%;
    margin: 1rem atuto;
    font-size: 1rem;
}

.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

table {
    width: 100%;
}

#edit {
    color: rgb(159, 22, 183);
}

#delete {
    color: rgb(233, 92, 92);
}

td.baixa {
    color: rgb(6, 255, 6);
}

td.media {
    color: rgb(234, 226, 64);
}

td.alta {
    color: rgb(229, 16, 16);
}